<!-- header 1-6 titulos -->
<h1>Componente Principal</h1>
<!-- ul -> unordered list -->
<!-- ol -> ordered list -->
<ul>
  <!-- li -> list item -->
  <li>
    <!-- a -> anchor -> ancla -->
    <a routerLink="/inicio">Inicio</a>
  </li>
  <li>
    <a routerLink="/menu">Menu</a>
    <ol>
      <li>

        <a routerLink="menu/gestion-usuarios">Gestion Usuarios</a>
        <ul>
          <li>
            <a routerLink="/menu/gestion-usuarios/crear-usuarios">Crear Usuarios</a>
          </li>
          <li>
            <a routerLink="/menu/gestion-usuarios/actualizar-usuarios">Actualizar Usuarios</a>
          </li>
        </ul>

      </li>
      <li>

        <a routerLink="menu/gestion-productos">Gestion Productos</a>
        <ul>
          <li>
            <a routerLink="/menu/gestion-productos/crear-producto">Crear Producto</a>
          </li>
          <li>
            <a routerLink="/menu/gestion-productos/actualizar-producto">Actualizar Producto</a>
          </li>
        </ul>

      </li>
    </ol>
  </li>
  <li>
    <a routerLink="/perfil">Perfil</a>
  </li>
  <li>
    <a routerLink="/login">Login/</a>
  </li>
</ul>

<router-outlet></router-outlet>
<!-- p -> párrafo -->
<p>Footer</p>
