<!-- header 1-6 titulos -->
<h1>Componente Principal</h1>
<!-- ul -->
<ul>
  <li>
    <a routerLink="/inicio">Inicio</a>
  </li>
  <li>
    <a routerLink="/menu">Menu</a>
    <ol>
      <li>
        <a routerLink="menu/gestion-usuarios">Gestion Usuarios</a>
      </li>
      <li>
        <a routerLink="menu/gestion-productos">Gestion Productos</a>
      </li>
    </ol>
  </li>
  <li>
    <a routerLink="/perfil">Perfil</a>
  </li>
  <li>
    <a routerLink="/login">Login/</a>
  </li>
</ul>

<router-outlet></router-outlet>
<!-- p  párrafo -->
<p>Footer</p>
